.loading {
  text-align: center;
  // font-weight: bold;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  img {
    width: 24px;
  }
}